{% extends 'base.html' %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/allblog.css') }}"/>
{% endblock %}
{% block content %}
	<div class="container">
	{% if blogs %}
	<div class="table-responsive">
  		<table class="table results">
  		<tbody>
	{% for blog in blogs | sort(attribute='id',reverse=True) %}
			<tr>
				<td class="content-middle">
					<h3>{{ loop.index }}</h3>			
				</td>
				<td>
					<h3><a href="{{ url_for('mod_blog.detail_blog',id=blog.id) }}">{{ blog.title }}</a></h3>
					<span class="blog-author">By <a href="#"><strong>{{blog.author.username}}</strong></a></span>
					<p class="blog-text">{{ blog.content | striptags | safe| truncate(55,True)}}</p>
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>	
	{% else %}
		<h3 class="text-center">No blog found.</h3>
	{% endif %}
	</div>

{% endblock %}
