{% extends 'base.html' %}
{% block head %}
<style>
	.table>tbody>tr>td.content-middle,
	.table>thead>tr>th.content-middle{
		vertical-align:middle;
	}
	.blog-text{
		font-size: 13px;
	    color: #777;
	    margin-top: 9px;
	   	white-space:normal;
	}
	.table h3{
		font-size:21px;
		line-height:23px;
		font-weight:500;
	}
	.table h3 a{
		color:black;
		text-decoration:none;
	}
	.table h3 a:hover{
		color:#009688;
	}
	.blog-author{
		font-size:11px;
	}
	.blog-author a{
		margin-left:3px;
		color:black;
		text-decoration:none;
	}
	
</style>
{% endblock %}
{% block content %}
	<div class="container">
	{% if blogs %}
	<div class="table-responsive">
  		<table class="table results">
  		<tbody>
	{% for blog in blogs | sort(attribute='id',reverse=True) %}
			<tr>
				<td class="content-middle">
					<h3>{{ loop.index }}</h3>			
				</td>
				<td>
					<h3><a href="{{ url_for('mod_blog.detail_blog',id=blog.id) }}">{{ blog.title }}</a></h3>
					<span class="blog-author">By <a href="#"><strong>{{blog.author.username}}</strong></a></span>
					<p class="blog-text">{{ blog.content | striptags | safe| truncate(55,True)}}</p>
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>	
	{% else %}
		<h3 class="text-center">No blog found.</h3>
	{% endif %}
	</div>

{% endblock %}
