{% extends 'base.html' %}

{% block head %}
	<style>
	.blog-header{
		margin-bottom:21px;
	}
	.blog-header h1{
		margin-top:0px;
		margin-bottom:7px;
		word-wrap: break-word;
		font-size:41px;
		line-height:50px;
	}
	.blog-author{
		font-size:11px;
	}
	.blog-author a{
		margin-left:3px;
		color:black;
		text-decoration:none;
	}
	main{
		font-size:15px;
		line-height:26px;
		margin-top:20px;
		margin-bottom:20px;
	}
	.blog-content p{
		word-wrap: break-word;
		margin-bottom:26px;
	}
	main h3{
    	font-size: 21px;
	}
	</style>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<main class="col-md-8">
					<div class="blog-header">
						<h1>{{blog.title}}</h1>
						<span class="blog-author">By <a href="#"><strong>{{blog.author.username}}</strong></a></span>
					</div>
					<div class="blog-content">
					{{blog.content | safe}}
					</div>
			</main>
		</div>
	</div>	

{% endblock %}